<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@municipio.add.headline">Add Municipio</h1>
    <div>
        <a routerLink="/municipios" class="btn btn-secondary" i18n="@@municipio.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="municipio" i18n-label="@@municipio.municipio.label" label="Municipio" />
    <app-input-row [group]="addForm" field="uf" rowType="select" [options]="ufValues" i18n-label="@@municipio.uf.label" label="Uf" />
    <input type="submit" i18n-value="@@municipio.add.headline" value="Add Municipio" class="btn btn-primary mt-4" />
</form>
